<h2>My Heroes</h2>
<div>
  <label>Hero name:</label><input #heroName /> <!-- add heroName id to the input element to be referenced by the button element -->
  <button (click)="add(heroName.value); heroName.value=''"> <!-- call the component's click handler (i.e. add() ) and then clear the input field -->
    Add
  </button>
</div>
<ul class="heroes">
  <!-- each  hero goes here -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> 
    <span>{{hero.name}}</span>
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<!-- <hero-detail [hero]="selectedHero"></hero-detail> is deleted because the hero-detail component is displayed in its own template and route -->
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>